{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="breadcumb-area bg-img-5 black-opacity">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap text-center">
                    <h2>О нас</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li>/</li>
                        <li class="active">О нас</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="about-area ptb-100 bg-1">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-sm-8 col-xs-12">-->
<!--                <div class="about-wrap">-->
<!--                    <h3>Our Tattoos Last Longer Than Most Marriages.</h3>-->
<!--                    <p>Praesent in erat risus. Cras bibendum orci pharetra vehicula hendrerit. Proin blandit lorem sed aliquet cursus. Pellentesque lobortis nunc et libero auctor, non tincidunt nisi molestie.</p>-->
<!--                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus tincidunt pulvinar enim, eget dignissim felis facilisis ac. Sed quis vehicula nisi. Integer quis neque at sapien varius vehicula. Suspendisse auctor dapibus tempus.</p>-->
<!--                    <a href="about.html">View All</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-sm-4 hidden-xs">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-sm-12 ">-->
<!--                        <div class="about-img">-->
<!--                            <img src="assets/images/about/1.jpg" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 hidden-sm">-->
<!--                        <div class="about-img">-->
<!--                            <img src="assets/images/about/2.jpg" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% for article in articles %}

<div class="about-area ptb-100 bg-2 about-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="about-img">
                    <img src="{{ article.image.url }}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="about-wrap">
                    <h3>{{ article.title }}.</h3>
                    <p>{{ article.content }}</p>
                    <a href="about.html">Читать</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}