{% extends 'base.html' %}

{% block content %}
    <div class="breadcumb-area bg-img-5 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>{{ master.name }}</h2>
                        <ul>
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li>/</li>
                            <li class="active">{{ master.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-team-area bg-1 ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <div class="single-team-img">
                            <img src="{{ master.image.url }}" alt="">
                        </div>
                        <div class="socil-icon">
                            <ul>
                                <li>Соц. сети :</li>
                                {% if master.vk %}
                                    <li><a href="{{ master.vk }}"><i class="fa fa-vk"></i></a></li>
                                {% endif %}
                                {% if master.instagram %}
                                    <li><a href="{{ master.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if master.telegram %}
                                    <li><a href="{{ master.telegram }}"><i class="fa fa-paper-plane"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="single-team-wrap">
                            <h3>{{ master.name }}</h3>
                            <span class="single-team">Тату-мастер</span>
                            <p>{{ master.about_master|safe }}</p>
                            <div class="progress-wrap">
                                <p>Tatoo Design</p>
                                <div class="progress">
                                    <div class="progress-bar wow slideInLeft" style="width: 90%;">
                                        <span class="progress-persent"><span>10%</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <p>Tatoo Removal</p>
                                <div class="progress">
                                    <div class="progress-bar wow slideInLeft" style="width: 25%;">
                                        <span class="progress-persent"><span>25%</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <p>Tattoo Cover Up</p>
                                <div class="progress">
                                    <div class="progress-bar wow slideInLeft" style="width: 60%;">
                                        <span class="progress-persent"><span>60%</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="appoinment-btn" href="">Записаться к мастеру</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}